[submodule "libraries/Adafruit-GFX-Library"]
	path = libraries/Adafruit-GFX-Library
	url = https://github.com/adafruit/Adafruit-GFX-Library
[submodule "libraries/WiFiEsp"]
	path = libraries/WiFiEsp
	url = https://github.com/scpcom/WiFiEsp
[submodule "libraries/Seeed_Arduino_LCD"]
	path = libraries/Seeed_Arduino_LCD
	url = https://github.com/scpcom/Seeed_Arduino_LCD
[submodule "libraries/SPIMemory"]
	path = libraries/SPIMemory
	url = https://github.com/scpcom/SPIMemory
